%dl#details.dl-horizontal
	%dt
		Directed by:
		%dd
			= @movie.director
	%dt
		Rating:
		%dd
			= @movie.rating
	%dt
		Location:
		%dd
			= @movie.location
	%dt
		Quality:
		%dd
			= @movie.quality
	%dt
		Released on:
		%dd
			= @movie.release_date.strftime("%B %d, %Y")