%h1 Edit Existing Movie "#{@movie.title}"

= render :partial => "shared/flash", :locals => { :flash => flash }
= form_tag movie_path(@movie), :method => :put do
	= render :partial => "form"
	= submit_tag 'Update Movie', :class => "btn btn-inverse"