%h1 Edit Existing Movie "#{@movie.title}"

= render :partial => "shared/flash_messages", :locals => { :flash => flash }

= form_tag movie_path(@movie), :method => :put do

	= label :movie, :title, 'Title'
	= text_field :movie, 'title'
  
	= label :movie, :director, 'Director'
	= text_field :movie, 'director'

	= label :movie, :rating, 'Rating'
	= select :movie, :rating, @all_ratings

	= label :movie, :location, 'Location'
	= select :movie, :location, @all_locations

	= label :movie, :quality, 'Quality'
	= select :movie, :quality, @all_qualities

	= label :movie, :release_date, 'Released On'
	= date_select :movie, :release_date

	= submit_tag 'Update Movie', :class => "btn btn-inverse"