.page-header
	%h1= link_to "All Movies (Click to Reset)", movies_path({:nuke=>"nuke"})

= render :partial => "shared/flash", :locals => { :flash => flash }
= render :partial => "filter"
#thecontent
	= render :partial => "content"
= render :partial => "action"