%h1 Create New Movie

= form_tag movies_path do

	= label :movie, :title, 'Title'
	= text_field :movie, 'title'

	= label :movie, :director, 'Director'
	= text_field :movie, 'director'

	= label :movie, :rating, 'Rating'
	= select :movie, :rating, @all_ratings

	= label :movie, :location, 'Location'
	= select :movie, :location, @all_locations

	= label :movie, :quality, 'Quality'
	- @all_qualities.each do |quality|
		= quality
		= check_box_tag "quality[#{quality}]"

	= label :movie, :release_date, 'Released On'
	= date_select :movie, :release_date

	= submit_tag 'Create Movie', :class => "btn btn-inverse"