%h2 Details About Movie "#{@movie.title}"

= render :partial => "flash", :locals => { :flash => flash }

%dl#details.dl-horizontal
	%dt
		Directed by:
		%dd
			= @movie.director
	%dt
		Rating:
		%dd
			= @movie.rating
	%dt
		Location:
		%dd
			= @movie.location
	%dt
		Quality:
		%dd
			= @movie.quality
	%dt
		Released on:
		%dd
			= @movie.release_date.strftime("%B %d, %Y")


= button_to 'Edit', edit_movie_path(@movie), 	:method => :get,
																							:class => "btn btn-info"
= button_to 'Delete', movie_path(@movie), :method => :delete,
																					:confirm => 'Are you sure?',
																					:class => "btn btn-danger"
= button_to 'All Movies', movies_path, 	:method => :get,
																				:class => "btn btn-success"