(ADVANCED) SEARCH HERE
%h1 Advanced Search:

= form_tag movies_path, :method => :get, :class => 'form-horizontal' do
	%fieldset
		.control-group
			= label_tag 'title', 'Title:', :class => 'control-label', :for => 'input01'
			.controls
				= text_field_tag 'titlesearch', @title_search, :class => 'input-medium search-query', :placeholder => 'Do I Have This Potato?', :id => 'input01'
		.control-group
			= label_tag 'director', 'Director:', :class => 'control-label', :for => 'input02'
			.controls
				= text_field_tag 'directorsearch', @director_search, :class => 'input-medium search-query', :placeholder => 'Who Directed This Potato?', :id => 'input02'
		.control-group
			= label_tag 'rating', 'Ratings:', :class => 'control-label'
			.controls
				- Movie.all_ratings.each do |rating|
					= label_tag "#{rating}", rating, :class => 'checkbox inline'
					= check_box_tag "ratings[#{rating}]", 1, true
		.control-group
			= label_tag 'location', 'Locations:', :class => 'control-label'
			.controls
				- Movie.all_locations.each do |location|
					= label_tag "#{location}", location, :class => 'checkbox inline'
					= check_box_tag "locations[#{location}]", 1, true
		.control-group
			= label_tag 'quality', 'Qualities:', :class => 'control-label'
			.controls
				- Movie.all_qualities.each do |quality|
					= label_tag "#{quality}", quality, :class => 'checkbox inline'
					= check_box_tag "qualities[#{quality}]", 1, true
		.control-group
			= label_tag 'released', 'Release Date:', :class => 'control-label'
			.controls
				Between
				= select_date
				%br
				and
				= select_date

%p Title Search
%p Director Search
%p Rating Search
%p Location Search
%p Quality Search
%p Release Date Search