!!! 5
%html
	%head
		%title Ben's Potatoes
		= stylesheet_link_tag 'application'
		= javascript_include_tag 'application'
		= csrf_meta_tags

	%body
		= render :partial => 'shared/header'
		.container
			= yield
		= render :partial => 'shared/footer'